<h1><%= t('.header')%></h1>
<table>
  <thead>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.questions') %></th>
  </thead>
  <tbody>
      <%= render @tests %>
  </tbody>
</table>